## Revisiting Primary and Foreign Keys

<img src="imgs/cross-reference.PNG" width="1200"/>

# Lecture 5

### Conceptual database design

At the end of this lecture, students should be able to:

- Identify an entity in a real problem;

- Explain the different types of relationship among entities;

- Identify the correct type of relationship among entities in a real problem;

- Use Entity-Relationship (E-R) Diagram to create an initial database model for a real problem;

### You need to think about:

1. What entities are relevant to the problem in question

2. What attributes of the entities should be included? what are their data types? 

2. How the entities relate to each other?

3. What are the primary keys? 

All these questions are crucially important and must be carefully considered before typing any code. This step can take quite a bit of time and discussion.

# Entity-Relationship Diagrams

- Provides a "simple" (don't mistake it by "easy"), but precise, description of the problem; 


- Facilitates the discussions among all members of the team;


- It is clear how to go from the E-R diagram to a database schema (think like a blueprint for the database);

## Entities

- Databases store information about entities - their attributes and how they relate to each other.

For example, 

- the `imdb` dataset has information about movies, actors, writers, directors;

- the `kickstarter` dataset has information about projects, creators, items;

- the `drinks` dataset has information about drinks, bars, and clients.

## Entities' attributes

- what attributes/information from the entities we need to store?

<br>
<br>

For example, 

- what do we need to store about the movies? Their titles? year? runtime?


- what do we need to store about actors? Name? date of birth? address? phone number?


- what do we need to store about kickstarter projects? 

<br>
<br>
<br>

Also, we need to identify what set of attributes that will uniquely identify each entity in a entity set. **Primary key**

## Entity and attribute representation

In the E-R diagram, entities are represented with a rectangle and attributes with ellipses. We also underline the attributes that are part of the primary key.

## Example - IMDB
<img src="imgs/example_entities-attributes.PNG" width=2080/>

## Example - Kickstarter
<img src="imgs/example_entities-attributes2.PNG" width=1580/>

## Relationship's Attributes

- what attributes/information we need to store about the relationship between entities?

For example, we know that actors/actresses work on movies. The table `known_for_titles` in the `imdb` database relates actors/actresses and movies. But, do we need to know more about this relation?

- what about the salary? How much an actor/actress received when worked in a specific movie?

- for how long an actor/actress worked in a specific movie? 1 week? 1 year?

- in what role an actor/actress worked in a specific movie? main character? supporting character?

## Relationship representation

In the E-R diagram, relations are represented with a diamond.

<img src="imgs/example_relations.PNG" width="2080"/>

- **A relationship must be fully identified by the participating entities.** 
    
    - What identifies each one of the entities?
    
    - What are the implications in this case?

### What if we need to capture situations where an actor/actress has more than one role in a movie?

<img src="imgs/example_relation-ternary.PNG" width="2080"/>

## Key constraints

We can classify the relations into three groups:

1. One-to-one: an entity in one group is associated with only one entity in the other group. For example:
    - an employee can manage only one department, and a department can have only one manager;
    - a professor can teach only one course, and a course can only be taught by one professor;

2. One-to-many: an entity in group `A` can be associated with many entities in group `B`, but an entity in group `B` can be associated with only one entity in group `A`. For example:
    - an employee can manage **many** departments, and a department can have only **one** manager;
    - a professor can teach **many** courses, and a course can only be taught by **one** professor;
    - a creator can have **many** projects, but a project can only have **one** creator;

3. Many-to-many: an entity in group `A` can be associated with many entities in group `B` and vice-versa. For example:
    - an actor can work in **many** movies, and a movie can have **many** actors;
    - a doctor can have **many** patients, and a patient can have **many** doctors;
    - a company can have **many** owners, a person can have **many** companies.

## Key constraint in E-R diagram
If an entity of a group is associated with only one entity in another group, we use an arrow in the E-R diagram.

### A department can be managed by one employee only, and a employee can manage one department only
<img src="imgs/example_one-to-one.PNG" width="2080"/>

### a professor can teach many courses, and a course can only be taught by one professor;


<img src="imgs/example_one-to-many.PNG" width="2080"/>

### an actor can work in many movies, and a movie can have many actors;
<img src="imgs/example_relations.PNG" width="2080"/>

### Participation constraint in E-R Diagram

If all entities of a set is required to participate in the relation, we use a thick line in the E-R diagram.

### A department is managed by one employee, and a employee can manage one department only
<img src="imgs/example_one-to-one_participation.PNG" width="2080"/>

### a professor might not  teach any course, and a course might not be offered in a year - no participation constraint here;


<img src="imgs/example_one-to-many.PNG" width="2080"/>

### all movies have at least one actor/actress but not all actors/actresses have worked in a movie;
<img src="imgs/example_many-to-many_participation.PNG" width="2080"/>

# Translating E-R Diagram to tables

## From entity sets to table

- Create a table from the entity set;

- each attribute of the entity set is a column of the table

## Example - IMDB
<img src="imgs/example_entities-attributes.PNG" width=2080/>


<img src="imgs/example_tables_entities.PNG" width=2080/>

## From relation with no constraint (many-to-many)

- Create a table for the relation;

- create columns for the primary keys of the participating entities;

- create columns for the relation's attributes

- The primary key of the table will be the combined primary key of the entities;

- the primary key of the entities (individually) will be foreign keys in the relation's table;

## Example 

<img src="imgs/example_relations.PNG" width="2080"/>


<img src="imgs/example_tables_many-to-many.PNG" width="2080"/>

## From one-to-many relation (no participation constraint)

- No need to create a separate table in this case;


- In the table of the entity set that has the key constraint:
    - add columns to store the reference to the other entity;
    - add columns to store the relation's attributes;

### a professor can teach many courses, and a course can only be taught by one professor;


<img src="imgs/example_one-to-many.PNG" width="2080"/>


<img src="imgs/example_tables_one-to-many.PNG" width="2080"/>

## The participation constraint

The participation constraint basically requires that we don't allow NULL values.

# Recap

<img src="imgs/recap.PNG" width="2080"/>

In [3]:
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def execute_print_query(sql_statement):
    """
    Returns the query formatted as a Pandas' dataframe. 
    
    Parameters
    -----------
    sql_statement : string
        The string containing the desired SQL statement to run.
        
    Returns
    --------
    pandas.DataFrame
    """

    query = engine.execute(sql_statement)
    return pd.DataFrame(query.fetchall(), columns=query.keys())


# Establishing the connection
engine_setup = 'postgres://dsci513:dsci513@mds.ct6ghoz7smhy.us-east-1.rds.amazonaws.com/imdb'
engine = create_engine(engine_setup)

# Exercise 3.3 - Lab 2

Create a TEMPORARY VIEW to return `nconst`, `birth_year` and `name` of different people who have the same name. Remove the ones which birth_year is NULL.

In [ ]:
sql_statement = \
"""
CREATE TEMP VIEW same_ppl(birth_year1, name1, nconst1, nconst2, name2, birth_year2) AS
(SELECT n1.birth_year, n1.name, n1.nconst, n2.nconst, n2.name, n2.birth_year
    FROM names_basics n1, names_basics n2
    WHERE n1.nconst <> n2.nconst
        AND n1.name = n2.name
        AND n1.birth_year IS NOT NULL
        AND n2.birth_year IS NOT NULL);
"""
engine.execute(sql_statement)
#execute_print_query(sql_statement)

## Exercise 3.4 - Lab 2
Use the TEMPORARY VIEW you created in the previous exercise to find different people that have the same name and are known for the same title (see known_for_titles table). Retrieve nconst, birth_year, and name of the people and the tconst and primary_title of the movie they are known for.

In [ ]:
sql_statement = \
"""
SELECT birth_year1, birth_year2, nconst1, nconst2, name1, t.tconst, t.primary_title
    FROM same_ppl p, titles_basics t, known_for_titles k1, known_for_titles k2
    WHERE k1.nconst = p.nconst1
        AND k2.nconst = p.nconst2
        AND k1.tconst = k2.tconst
        AND t.tconst = k1.tconst
        AND t.format = 'movie'
"""
execute_print_query(sql_statement)

# Lecture 6 - Defining, creating, deleting and updating data in SQL

[Data types](#Data-Types) (5 min)
- Numeric;
- Character;
- Boolean;

[Data Definition](#Data-Definition) (35 min)
- Creating tables: [CREATE TABLE](#CREATE-TABLE);
- Creating tables from other tables: [CREATE TABLE AS](#CREATE-TABLE);
- [Constraints](#Constraints);


[Data manipulation](#Data-Manipulation) (20 min)
- [`INSERT`](#INSERT), [`DELETE`](#DELETE) and [`UPDATE`](#UPDATE);

[Transactions](#Transactions) (5 min)

# Data Types

## Numerical data types

### `integer`

Stores integers. There are some variants such as `smallint` and `bigint` which affects the range.

### `numeric(precision, scale)`

It is the same as `decimal`. It's used when the exact quantity is required (like when storing money).  When using numerical you should define `precision` and `scale`:

- `precision`: the total number of digits 
- `scale`: the number of digits on the right of the decimal point

For example, the value `1557.91` has `precision` 6 and `scale` 2. 

Operations with numerical is much slower than with floating types.

In [ ]:
# Try changing the scale below to check how this affect the output.
sql_statement = \
"""
SELECT usd_pledged::numeric(10,2)
    FROM projects
    LIMIT 15;
"""

execute_print_query(sql_statement)

### `REAL` and `DOUBLE PRECISION`

- Floating point types. 
- There might be the usual/known rouding erros. 
- Calculations are much faster than with `numeric` type. 
- `double precision` has a higher precision and range than `real`.

## Character data types:

### `CHAR(n)`, `VARCHAR(n)`, `TEXT`

- Used to store strings;


- `char(n)` has fixed size `n`. Stringer shorter than `n` will be completed with blank spaces. For example if `name` is `char(6)`, than for name equals to `Jack`, it will be added two spaces after k.


- `varchar(n)` can be any string with maximum size `n`. There's no padding here ("Jack" would be stored as "Jack").


- `text` stores any string with no size limit.  

Postgres documentation suggests to avoid `char(n)` in favour of `varchar(n)` or `text`.

## Boolean data type

- The name says it all, right? Stores boolean values: `TRUE` or `FALSE`.


- Note that when retrieving values, you will get an `t` or `f` for boolean column. For example, run the following query in the server:

```
SELECT 'TRUE'::boolean;
```

### Other data types

There are many other data types supported by PostgreSQL, including several data types to handle dates and timestamp (see [here](https://www.postgresql.org/docs/11/datatype-datetime.html)). You can check out all the data types [here](https://www.postgresql.org/docs/11/datatype.html).

# Data Definition

In this session we are going to learn how to create, change, and delete tables in PostgreSQL using SQL.

If you want to test these commands, connect to a local database in your own machine (just leave `Server [localhost]` blank in the SQL SHELL) - for linux users you can just type `psql -d posgres -U postgres`. The password will be the one you used when you installed PostgreSQL. Once you are in Postgres, you can create a database with 
```
CREATE DATABASE database_name;
\c database_name;
```

For example,
```
CREATE DATABASE imdb;
\c imdb
```

To delete a database you can type
```
DROP DATABASE database_name;
```

## `CREATE TABLE`

To create a table you can use the following syntax:

```sql
CREATE [TEMP] TABLE table_name(
  column1_name data_type1 [column1_constraints],  
  column2_name data_type2 [column2_constraints],
             .
             .
             .
  columnN_name data_typeN [columnN_constraint],
  
  [table_constraints]
);    
```

- Column constraints will impose a constraint in the respective column only. Values that do not satisfy the constraint will not be added. 


- Table constraints will impose constraints on the table. You must use table constraint when you need to specify a constraint that involves more than one column.


- Let's see some examples to make it clear.

### Example 1

```sql
CREATE TABLE titles_basics(
    tconst TEXT PRIMARY KEY, 
    format TEXT, 
    primary_title TEXT, 
    original_title TEXT, 
    genre TEXT, 
    start_year INT CHECK(start_year > 1985),
    end_year INT,
    runtime INT CHECK(runtime > 0)
);
```

### Example 2

Let's create the table `ratings` with columns: `tconst`, `average_rating`, and `num_votes`. 
For now, let's not impose any constraints.

```sql
CREATE TABLE ratings(
    -- Table ratings from imdb with no constraints;

    tconst VARCHAR(10),
    average_rating REAL,
    num_votes INT
);
```

<img src="imgs/create-table1.PNG" width="860"/>

<img src="imgs/create-table2.PNG" width="860"/>

<img src="imgs/create-table3.PNG" width="1080"/>

<img src="imgs/create-table4.PNG" width="1080"/>

<img src="imgs/create-table5.PNG" width="860"/>

### Constraints

`NOT NULL`: postgres will not accept `NULL` as a value for this column;

`UNIQUE`: postgres will check and make sure that duplicated values are not inserted in the column;

`PRIMARY KEY`: defines the primary key of the table (basically, it imposes `NOT NULL` and `UNIQUE` constraints to a column [or set of columns])

`FOREIGN KEY`/`REFERENCES`: defines a column, or set of columns as Foreign Key;

`CHECK`: Postgres will check if the value inserted satisfies a condition that you impose;

### Default values

In addition to constraints, you can also use the `DEFAULT` keyword to set the default value for a column in case a value is not provided.

### Example 2

Let's improve our definition of table `ratings`. This time we want to specify `tconst` as our primary key, and assign `0` as default value for `num_votes`.

```sql
CREATE TABLE ratings(
    -- Table associated with the file 'title.ratings.tsv'.

    tconst VARCHAR(10) PRIMARY KEY,
    average_rating REAL,
    num_votes INT DEFAULT 0 
);
```

### Exercise 3

Let's keep improving our definition of table `ratings`. This time we want to make sure that we don't have a negative `num_votes` and that `average_rating` is between `0` and `10`.

```sql
CREATE TABLE ratings(
    -- Table associated with the file 'title.ratings.tsv'.

    tconst VARCHAR(10) PRIMARY KEY,
    average_rating REAL CHECK (average_rating BETWEEN 0 AND 10),
    num_votes INT DEFAULT 0 CHECK (num_votes >= 0)
);
```

### Example 4

Now, let's tell Postgres that the column `tconst` is referencing the movies in another table.

```sql
CREATE TABLE ratings(
    -- Table associated with the file 'title.ratings.tsv'.

    tconst VARCHAR(10) PRIMARY KEY
        REFERENCES titles_basics(tconst),
    average_rating REAL 
        CHECK (average_rating BETWEEN 0 AND 10),
    num_votes INT DEFAULT 0 
        CHECK (num_votes >= 0)
);
```

_Obs: we need to first define the table `titles_basics` so we can reference it_

#### Note on `FOREIGN KEY` - `referential integrity`

By referencing a column (or set of columns) to another table's column(s), Postgres can check that those values actually exists in the other table. For example, in this case, I will be only able to add an `average_rating` and `num_vote` to a title that actually exists in table `titles_basics`. For this reason, Postgres will only accept references to columns that have the constraint `UNIQUE` in the parent table. For example, I wouldn't be able to reference `titles_basics(runtime)`, because `runtime` doesn't uniquely identify each title in `titles_basics`.

### Example 5

Suppose that we want to make sure we only have an `average_rating` if we have one or more votes. Since our constraint will involve more than one column we need to create a table constraint.

```sql
CREATE TABLE ratings(
    -- Table associated with the file 'title.ratings.tsv'.

    tconst VARCHAR(10) PRIMARY KEY
        REFERENCES titles_basics(tconst),
    average_rating REAL 
        CHECK (average_rating BETWEEN 0 AND 10),
    num_votes INT DEFAULT 0 
        CHECK (num_votes >= 0),
        
    CONSTRAINT my_constraint
        CHECK ((average_rating IS NOT NULL AND num_votes > 0) 
               OR (average_rating IS NULL AND num_votes = 0))
);
```

### Example 6- Primary key with two columns. 

Let's create the table `known_for_titles`, which has the columns: `nconst` and `tconst`.

```sql
CREATE TABLE known_for_titles(

    nconst VARCHAR(10),
    tconst VARCHAR(10),

    CONSTRAINT known_for_titles_pk
        PRIMARY KEY (nconst, tconst),

    CONSTRAINT known_for_titles_fk1
        FOREIGN KEY (nconst) REFERENCES names_basics(nconst),

    CONSTRAINT known_for_titles_fk2
        FOREIGN KEY (tconst) REFERENCES titles_basics(tconst)
);
```

### `TEMP` tables

You can create temporary tables with the `TEMP` keywords. Temporary tables will be available to you until you logout. Like with views.

## `CREATE TABLE AS`

- You can also create tables from another table;

- The idea is very similar to creating views with `SELECT` statement;

- But this time, you will be creating a table and populating it with the results of a SELECT statement (i.e., the result of the query will be actually stored on disk) ;

The syntax is

```sql
CREATE TABLE table_name[(columns_names)] AS
    subquery
```

(Note the similarity with `CREATE VIEW view_name[(columns_names)] AS subquery` from last week.)

### Exercise 7
The code below will craete a table with two columns: `drink_id` and `avg_price` and populate it with the result of the SELECT statement.
```sql
CREATE TABLE expensive_drinks(drink_id, avg_price) AS
    (SELECT drink_id, AVG(price)
       FROM has_on_menu
       GROUP BY drink_id
       HAVING AVG(Price) > 400);
```

### Question: When use views and when use tables?

## `DROP TABLE` (<font color='red'>DANGER!</font>)

- Deletes a table;

- Be careful with this, as other tables might reference the table being dropped;

-  To drop a table, type:

```sql
DROP TABLE table_name;
```

# Data Manipulation

In this section we'll be talking about `INSERT`, ` UPDATE` and `DELETE` commands that are used to modify tables by adding, modifying and deleting rows. These commands are part of what is called SQL's Data Manipulation Language (DML). The `SELECT` command that we have been using so far is also part of SQL's DML. 

However, differently from the `SELECT` statements, where we were only accessing data, here we are modifying tables. 

**So, use it with cautious.**

<img src="https://media.giphy.com/media/MCZ39lz83o5lC/source.gif"  width="640"/> [Source: via Giphy](https://media.giphy.com/media/MCZ39lz83o5lC/source.gif)

## `INSERT`

You can use

```sql
INSERT INTO table_name[(column1, ..., columnN)]
    VALUES 
        (value1, ..., valueN), 
        (value1, ..., valueN); -- You can insert more than one row at a time
```

### Example 8

Inserting values for `tconst` and `primary_title` only.

```sql 
INSERT INTO titles_basics(tconst, primary_title) 
    VALUES 
        ('t01', 'Titanic'),
        ('t02', 'Matrix');
```

### Example 9
If we select different columns, we provide values for different columns;

```sql
INSERT INTO titles_basics(tconst, format)
    VALUES
        ('t03', 'tvEpisode'),
        ('t04', 'Movie');
```

### Example 10

You cannot ommit the primary key, because primary keys cannot be `NULL`.

```sql
INSERT INTO titles_basics(format, primary_title)
    VALUES
        ('tvEpisode', 'House M.D.'),
        ('Movie', 'The Hobbit');
```

- If you don't provide a value for a column, it will be the `DEFAULT` value if one is specified, otherwise it will be `NULL`.


- The DBMS will check if the values you're inserting violates any of the constraints of the table.


- If you ommit the names of the columns, you need to provide the values in the same order they appear in the table (better to always name the columns).

- You can also insert values into a table using a `SELECT` clause.


```sql
INSERT INTO table_name[(column1, ..., columnN)] 
    subquery;
```

### Example 11

Consider the `drinks` database. Let's create a `beer` table.

```sql
CREATE TABLE beer(
    drink_id TEXT,
    bar TEXT,
    price REAL
);
```

Now, let's populate this table only with beers from `has_on_menu`.


```sql
INSERT INTO beer(drink_id, bar, price)
    SELECT drink_id, bar, price
        FROM has_on_menu h
        NATURAL JOIN drink_info d
        WHERE d.type='beer';
```

## `UPDATE`

- To update rows of a table:

```sql
UPDATE table_name
    SET column1_name = value1,
        column2_name = value2
    [WHERE conditions];
```

### Example 12

In St. Patrick's day, all bars, except `bar 2` will sell beers for 5.50. Let's update table `beer`.

```sql
UPDATE beer
    SET price = 5.50
    WHERE bar <> 'bar 2';
```

### <font color='red'>Careful!</font>

- If you type the wrong conditions in the `WHERE` clause, you will update the wrong rows (possibly all rows). 

- Always check first your `WHERE` clause using a `SELECT` statement to be sure.

### Example 13 (Optional) - You can also use JOINs to retrieve the values [see here](http://www.postgresqltutorial.com/postgresql-update-join/).

In St. Patrick's day, all bars, except `bar 2`, will sell beers priced the same as the cheapest drink in their menu. 

```sql
UPDATE beer b
    SET price = cheapest_drink.price
    FROM 
        (SELECT bar, MIN(price) as price
            FROM has_on_menu
            GROUP BY bar) cheapest_drink
    WHERE b.bar <> 'bar 2'
        AND cheapest_drink.bar = b.bar;
```

## `DELETE`

You can delete rows from a table using:

```sql
DELETE FROM table_name
    [WHERE conditions]
```

- All the rows that satisfy the conditions will be deleted.

- The rows will be deleted entirely, so you don't need to specify the column.

### Example
`bar 2` has declared bankrupcy and it is closing. Remove `bar 2` from table `beer`.

```sql
DELETE FROM beer
    WHERE bar = 'bar 2';
```

### Referencial integrity and `UPDATE`/`DELETE` statements [[see here]](http://www.postgresqltutorial.com/postgresql-foreign-key/)

- When the foreign key is defined, it possible to specify what happens in cases where the references are deleted or updated:
    - `ON DELETE action`
    - `ON UPDATE action`
    
    
- There are basics two actions you can pick:
    - `NO ACTION`: this is the default, and Postgres will not delete or update the row unless all the referencing rows are updated first;
    - `CASCADE`: Postgres will update the row AND all the referencing rows as well.

<img src="../lecture3/imgs/cross-reference.PNG">

```sql
CREATE TABLE people(
    nconst TEXT PRIMARY KEY,
    name TEXT,
    birth_year INT CHECK (birth_year > 0)
);

CREATE TABLE movies(
    tconst TEXT PRIMARY KEY,
    primary_title TEXT,
    start_year INT CHECK (start_year > 1860)
);

CREATE TABLE known_for_movies(
    person_id TEXT REFERENCES people(nconst)
    ON UPDATE CASCADE ON DELETE NO ACTION,
    
    movie_id TEXT REFERENCES movies(tconst)
    ON UPDATE NO ACTION ON DELETE CASCADE,

    CONSTRAINT kfm_pk
        PRIMARY KEY (person_id, movie_id)
);

INSERT INTO people
    VALUES ('nm093', 'Brad Pitt', 1963),
           ('nm113', 'Sandra Bullock', 1964),
           ('nm138', 'Leonardo DiCaprio', 1974),
           ('nm115', 'Nicolas Cage', 1964),
           ('nm139', 'Cameron Dias', 1963);

INSERT INTO movies
    VALUES ('tt0111257', 'Speed', 1994),
           ('tt0114746', 'Twelve Monkeys', 1995),
           ('tt0129387', E'There\'s Something About Mary', 1998),
           ('tt0160127', E'Charlie\'s Angels', 2000),
           ('tt0181689', 'Minority Report', 2002),
           ('tt0212346', 'Miss Congeniality', 2000),
           ('tt0356910', 'Mr & Mrs. Smith', 2005),
           ('tt1038919', 'The Bounty Hunter', 2010);

INSERT INTO known_for_movies
    VALUES ('nm093','tt0114746'),
           ('nm093','tt0356910'),
           ('nm113','tt0111257'),
           ('nm113','tt0212346'),
           ('nm139','tt0129387'),
           ('nm139','tt0160127');
```

## Exercise 

Try deleting `Sandra Bullock` from table `people`. What happens?

## Exercise

Try deleting the movie `Speed` from `movies`. Once it's done, check the table `known_for_movies`.

# Transactions

- Imagine a situation where you need to make a money transfer - say 100 CAD. Then, two things will happen:


1. 100 CAD will be debted from your account;

2. 100 CAD is added to somebody's account;

- What if, the 100 CAD is debted from your account and there's a outage and the server turns off before adding the 100 CAD to the recipient?

<img src="https://1bx8sf2g6npiljdzd499kxph-wpengine.netdna-ssl.com/wp-content/uploads/2015/03/ecommerce-chargeback.jpg"> [source](https://www.inventorysource.com/quick-tips-to-avoid-ecommerce-fraud-and-chargebacks/ecommerce-chargeback/)

- To avoid these situations we can use transactions;


- Transactions are just regular SQL statements that are flagged as being part of one group that must run together;


- With transactions, or all the statements runs successfully or all the partial changes are cancelled.

- To declare a transaction use the following syntax:

```
START TRANSACTION;

SQL_statement1;
SQL_statement2;
    .
    .
    .
SQL_statementN;

COMMIT;
```

## Example

Create a new database
```
CREATE DATABASE my_new_database;
```
Then, connect to your new database.
```
\c my_new_database
```

Next, let's create the same three tables we created in the previous exercises. However, let's do this using transactions.

```
START TRANSACTIONS:
```

```sql
CREATE TABLE people(
    nconst TEXT PRIMARY KEY,
    name TEXT,
    birth_year INT CHECK (birth_year > 0)
);

CREATE TABLE movies(
    tconst TEXT PRIMARY KEY,
    primary_title TEXT,
    start_year INT CHECK (start_year > 1860)
);

CREATE TABLE known_for_movies(
    person_id TEXT REFERENCES people(nconst)
    ON UPDATE CASCADE ON DELETE NO ACTION,

    movie_id TEXT REFERENCES movies(tconst)
    ON UPDATE NO ACTION ON DELETE CASCADE,

    CONSTRAINT kfm_pk
        PRIMARY KEY (person_id, movie_id)
);
```

Next, let's populate the first two tables.

```sql
INSERT INTO people
    VALUES ('nm093', 'Brad Pitt', 1963),
           ('nm113', 'Sandra Bullock', 1964),
           ('nm138', 'Leonardo DiCaprio', 1974),
           ('nm115', 'Nicolas Cage', 1964),
           ('nm139', 'Cameron Dias', 1963);

INSERT INTO movies
    VALUES ('tt0111257', 'Speed', 1994),
           ('tt0114746', 'Twelve Monkeys', 1995),
           ('tt0129387', E'There\'s Something About Mary', 1998),
           ('tt0160127', E'Charlie\'s Angels', 2000),
           ('tt0181689', 'Minority Report', 2002),
           ('tt0212346', 'Miss Congeniality', 2000),
           ('tt0356910', 'Mr & Mrs. Smith', 2005),
           ('tt1038919', 'The Bounty Hunter', 2010);
           
```

Good, everything should be working so far, let's check if we do have the tables in the database.
Type:
```sql
\dt
```

The tables are there, right? Great! Now, let's populate the third table and close the transaction.

```sql
INSERT INTO known_for_movies
    VALUES ('nm093','tt0114746'),
           ('nm093','tt0356910'),
           ('nm113123','tt0111257'),
           ('nm113','tt0212346'),
           ('nm139','tt0129387'),
           ('nm139','tt0160127');

COMMIT;
```

Oops, something bad happened now. We closed the transaction but an error happened. Do we have only partial changes now? Let's check! Check if you the tables you created are still there:
```
\dt
```

# Lecture 7
## MongoDB: a document based NoSQL database

At the end of this lecture students should be able to:
1. Explain limitations of relational database;
2. Query, create and update MongoDB documents;

# Relational Databases

- Relational databases have two major "shortcomings":


1. Scalability;
2. Fixed schema and impedance mismatch;

## Scalability

<img src="imgs/scalability.PNG">

- When first developed, RDBMS were focused in one very powerful server;


- With the amount of data in some applications, there's no computer alone (at least reasonably priced) that will be able to handle that;


- Although, there has been some effort in this sense, RDBMS are not as elastic as NoSQL databases (at least yet);

## Fixed schema and impedance mismatch

- Before using a SQL database, you first need to define the database schema:
    - What tables does your application need?
    - What fields does your application need?
    

- Some effort must be spend to achieve an effective database design (we just saw this last lab, right?);


- In many applications we need to break down a single logical object as rows in multiple table

### In many applications we need to break down a single logical object as rows in multiple table

<img src="imgs/invoice.PNG" width="1800">

#### All your entries/rows must follow this schema. 
<img src="https://www.heartland.org/sebin/r/f/CCW%20229.jpg">

# NoSQL databases

- NoSQL databases do not have a fixed schema (advantage or disadvantage)?


- They are highly elastic;


- There are several types of NoSQL databases: document, graph, column and key-value;


- In this lecture, we are going to talk about MongoDB, a document-based database;

# MongoDB

<img src="imgs/databases_sql_nosql.png">

## But what is a document?

- You can think of MongoDB's documents as [JSON documents](www.json.org);


- You can create an object between curly brackets `{}` using "key": "value" pair;


- Quite similar to a python dictionary;


- Almost all your communication with mongodb will be through JSON style documents (filters, projections, update, create);

## JSON example 1
```json
{
    "date": "2019-12-01",
    "type": "article",
    "author": "John McClane",
    "newspaper": "The Guardian",
    "title": "It is really hard to kill me! Die Hard!",
    "text": "blah-blah-blah-blah-blah"
}
```

## JSON example 2

- JSON files can also have nested documents, arrays, and nulls.

```json
{
    "Course": "DSCI 513",
    "year": 2019,
    "Students": [
        {"name": "Bilbo Baggins", "grade": 10}, 
        {"name": "Pippin Took", "grade": "A+"}, 
        {"name": null, "grade": 0}]
}
```

## Enough talk!! Let's check MongoDB....

## Connecting to the server

- We will be using the Mongo Atlas - a cloud MongoDB Server;


- Let's start by connecting Mongo Compass, a GUI for MongoDB databases;


- Then, connect Mongo Shell, which we will be using throughout the lecture;

## Useful commands in mongo shell

- `show dbs`: lists all databases in the server;


- `use database_name`: switch to a database, it the database doesn't exist, it creates one;


- `show collections`: lists the collections in a database;


- `db`: current database;

# Querying

## Scalar equality

Creating a filter
```
{field: "value"}
```

This filter will match all documents that has `"value"` in the field `field`.

- You can directly use this filter in Mongo Compass;

- Or you can call the function `db.collection.find(filter)` in the Mongo Shell.

### Example 1:

Let's find all movies with title `The Hobbit`. First in Mongo Compass, then in Mongo Shell.

Filter:
```json
{title: "The Hobbit"}
```

In Mongo Shell:
```json
db.movies.find({title: "The Hobbit"}).pretty()
```

### Exercise 2:
Find all movies produced in 1988 with title `Die Hard`. (Multiple fields are combined using `AND` operator)

Filter:
```javascript
{title: "Die Hard", year: 1988}
```

In Mongo Shell:
```javascript
db.movies.find({title: "Die Hard", year: 1988}).pretty()
```

## Nested documents

- Let's take a look at the field `awards`.


- The value of the `awards` field is an embedded document with the fields `wins`, `nominations`, and `text`.


- How do we make a query to match the fields of an embedded document?

### Example 3
Find movies that have 127 `wins` in the `awards` field.

Filter:
```json
{"awards.wins": 127}
```

In Mongo Shell:
```javascript
db.movies.find({"awards.wins": 127})
```

## Saving and using variables

You could also save the filter in a variable to use in the `find` function later. For example,

```javascript
filter = {"awards.wins": 127}
db.movies.find(filter).pretty()
```

### Exercise 4
Retrieve the movies with 5 in the `rating` field in the `viewer` field in the `tomatoes` field.

```javascript
filter = {"tomatoes.viewer.rating": 5}
db.movies.find(filter).pretty()
```

 ## Array fields
 
1. You can match the entire array:
```javascript
{array_field: ["element1", "element2", "element3"]}
```
(this filter will check if the array `array_field` is exactly equal to `["element1", "element2", "element3"]`.)

2. You can match an element of the array:
```javascript
{array_field: "element1"}
```
(this filter will check if the array `array_field` contains `element1`.)

### Example 5 

Find the movies with a `cast` composed by `"Brad Pitt", "Angelina Jolie", "Vince Vaughn",` and `"Adam Brody"`.

```javascript
filter = {"cast": ["Brad Pitt", "Angelina Jolie", "Vince Vaughn", "Adam Brody"]}
db.movies.find(filter).pretty()
```

### Exercise 6

Contrast the previous result with the result of the following filter:
```
{"cast": "Brad Pitt"}
```

## Selecting attributes (Projections) 

You can pass a second argument to the `find` function to specify what fields you want to retrieve (like the SELECT clause in SQL). The syntax is given by:

```
{"field": value}
```
where value can be `0` (ommit that field) or `1` (retrieve that field). You cannot mix the values. If you are using `1`, you should specify all fields you want to retrieve, if you're using `0` you should specify all fields you don't want to retrieve.

### Examples 7

Valid:
```javascript
db.movies.find(filter, {title: 1, year: 1}).pretty()
```

Valid:
```javascript
db.movies.find(filter, {directors: 0, tomatoes: 0}).pretty()
```

Invalid:
```javascript
db.movies.find(filter, {title: 1, year: 1, directors:0, tomatoes: 0}).pretty()
```

## [Logical operators](https://docs.mongodb.com/manual/reference/operator/query-logical/)

### [\$or](https://docs.mongodb.com/manual/reference/operator/query/or/#op._S_or) operator

The syntax is given by
```javascript
{$or: [condition1, condition2, ..., conditionN]}
```

### Example 8
Find movies with `Brad Pitt` or `Tom Cruise` in 2014.

```javascript
filter = {$or: [{cast: "Brad Pitt"}, {cast: "Tom Cruise"}], year:2014}
db.movies.find(filter).pretty()
```

### [\$and](https://docs.mongodb.com/manual/reference/operator/query/and/) operator

The syntax is given by
```javascript
{$and: [condition1, condition2, ..., conditionN]}
```

- Why do we need and operator, if we saw in the beggining that multiple fields conditions are combined with `AND` operator by default?

- If you repeat the same field, the latest reference will overwrite the previous one. For example,

```javascript
{cast: "Brad Pitt", cast: "Angelina Jolie"}
```
is equivalent to:
```javascript
{cast: "Angelina Jolie"}
```

- In these case, use `$and` operator:
```javascript
{$and: [{cast: "Brad Pitt"}, {cast: "Angelina Jolie"}]}
```

## [Comparison Operator](https://docs.mongodb.com/manual/reference/operator/query-comparison/)

Operator | name |
---------|------|
[\$gt](https://docs.mongodb.com/manual/reference/operator/query/gt/#op._S_gt) | greater than |
[\$gte](https://docs.mongodb.com/manual/reference/operator/query/gte/#op._S_gte) | greater than or equal |
[\$lt](https://docs.mongodb.com/manual/reference/operator/query/lt/#op._S_lt) | less than |
[\$lte](https://docs.mongodb.com/manual/reference/operator/query/lte/#op._S_lte) | less than or equal |
[\$eq](https://docs.mongodb.com/manual/reference/operator/query/eq/#op._S_eq) | equal to|
[\$ne](https://docs.mongodb.com/manual/reference/operator/query/ne/#op._S_ne) | not equal to |

- The documentation on these operators is quite good, and has examples, so take a look before using an operator that you need.


- Let's see a few examples

### Example 9

Find all movies with `rating` (in `imdb` field) higher than 9.5.

```javascript
filter = {"imdb.rating": {$gte: 9}}
db.movies.find(filter).pretty()
```

### Example 10

You can use `$gte` and `$lte`. For example, retrieve the movies that have runtime between 90 and 120 minutes.

```
filter = {"runtime": {$gte: 90, $lte: 120}}
db.movies.find(filter).pretty()
```

### Example 11
Select all movies that either, Angelina Jolie or Brad Pitt worked in.

```javascript
filter = {"cast": {$in: ["Angelina Jolie", "Brad Pitt"]}}
db.movies.find(filter).pretty()
```

## [Array operators](https://docs.mongodb.com/manual/reference/operator/query-array/)

### [\$size](https://docs.mongodb.com/manual/reference/operator/query/size/#op._S_size)


- Checks the size of an array;


- It doesn't work with operators such `\$gt` and `\$ltw`

### Example 12 

Find movies that has only one person in the `cast` field.

```javascript
filter = {"cast": {$size: 1}}
db.movies.find(filter).pretty()
```

### [\$elemMatch](https://docs.mongodb.com/manual/reference/operator/query/elemMatch/#op._S_elemMatch) (this one is tricky)

The cast for the movie Titanic is 
```
cast: ["Leonardo DiCaprio", "Kate Winslet", "Billy Zane", "Kathy Bates"]
```
Now, let's update this field to incorporate the salary as well.

name | salary | 
-----| ------ |
Leonardo DiCaprio | 2.5
Kate Winslet | 2.0
Billy Zane | 2.0
Kathy Bates | null

```
titanic = db.movies.find({_id: ObjectId("573a139af29313caabcf0d74")}).toArray()[0]
delete titanic._id
titanic.cast = 
[{name: "Leonardo DiCaprio", salary:2.5}, 
{name: "Kate Winslet", salary: 2.0}, 
{name: "Billy Zane", salary:2.0},  
{name: "Kathy Bates", salary: null}]
db.movies.insertOne(titanic)
```

- Suppose that we want to retrieve the movie that Kate Winslet worked and was paid over 2.2 million dollars.


- Clearly, Titanic is not one of those movies. since she was paid "only" 2.0 million dollars.

- Let's make the query
```javascript
filter = {"cast.name": "Kate Winslet", "cast.salary": {$gt: 2.2}}
db.movies.find(filter).pretty()
```

- The tricky thing is that: this filter does require that both conditions are satisfied, i.e., `"cast.name": "Kate Winslet"` and `"cast.salary": {$gt: 2.2}`, **BUT** it doesn't need to be in the same element.


- Since in one of the elements (the second one) we have `"cast.name": "Kate Winslet"`, the first conditions is met, and since the first element had `"cast.salary": {$gt: 2.2}` the second condition is met as well.


- Therefore, our Titanic title will be returned.

- The `\$elemMatch` operator requires the same element to satisfy the conditions.

```
filter = {cast: {$elemMatch: {"name": "Kate Winslet", "salary": {$gt: 2.2}}}}
db.movies.find(filter).pretty()
```

So this query will return null as desired.

# [Inserting documents](https://docs.mongodb.com/manual/tutorial/insert-documents/)

#### `insertOne()` and `insertMany()` functions

You can use `db.collection.insertOne()` to insert a new document to a collection. If the collection doesn't exist, it will be created. You pass the document you want to insert as argument For example:

```javascript
item1 = { course: "DSCI513", lecture_number: 7, topic: "MongoDB", date: "2019-12-10"} 
db.lectures.insertOne(item1)
```
Since we don't have the collection `lectures` in the `sample_mflix` database, this collection will be created.

- Insert many is the same thing, but allows you to insert many documents at a time:
```javascript
item1 = { course: "DSCI513", lecture_number: 7, topic: "MongoDB", date: "2019-12-10"}
item2 = { course: "DSCI513", lecture_number: 6, topic: "SQL", date: "2019-12-5"}
db.lectures.insertMany([item1, item2])
```

# [Updating data](https://docs.mongodb.com/manual/tutorial/update-documents/)

- You can use `db.collection.updateOne()` to update a document.
    
    - the first argument is a filter, to filter only the documents you want;
    
    - the second argument is the update operator.

### Example 13
Let's update the Titanic movie we added to test the \$elemMatch operator. Let's add a field `Oscar` with value 11. 
```
filter = {cast: {$elemMatch: {name: "Kate Winslet", salary: {$gt: 1.9}}}}
db.movies.updateOne(
    filter,
    {$set: {"Oscar": 11}})
```

In the example above we used the update operator [`$set`](https://docs.mongodb.com/manual/reference/operator/update/set/#up._S_set), which creates or update a field. There are many other [update operators](https://docs.mongodb.com/manual/reference/operator/update/) as well.

### Example 14 

Adding an element to an array. Say we want to add the guy that plays violin to `cast`.

<img src="http://cdn.cnn.com/cnnnext/dam/assets/131021105027-pkg-azuz-titanic-violin-auctioned-00010407.jpg">

```javascript
db.movies.updateOne(
    filter,
    {$push: {"cast": {name: "Wallace Hartley", salary: null}}})
```

### Example 15 

Updating the salary of Wallace Hartley.

```
db.movies.updateOne(
    filter,
    {$set: {"cast.$[element].salary": 1.0 }},
    {arrayFilters: [{"element.name": "Wallace Hartley"}]}
    
)

```

# Lecture 8

- MongoDB:
    - array operators
    - inserting documents
    - updating documents
    - aggregation
    
- Indexes

## [Array operators](https://docs.mongodb.com/manual/reference/operator/query-array/)

# [Aggregation](https://docs.mongodb.com/manual/aggregation/)

- MongoDB aggregation framework is based on the idea of pipeline;


- In each stage, you define an operation you want: a filter, a projection, grouping, sorting, etc...


- [This video](https://docs.mongodb.com/manual/_images/agg-pipeline.mp4) from the documentation illustrates that.


- There are multiple operators you can use in MongoDB aggregation. A quite useful link between mongodb operators and SQL operators is provided [here](https://docs.mongodb.com/manual/reference/sql-aggregation-comparison/)

### Example 16

Using `movies` collection from `sample_mflix` database, get the average rating per the first element of countries.

```
db.movies.aggregate([
    {$group: {_id: {$arrayElemAt: ["$countries", 0]}, avg_rating: {$avg: "$imdb.rating"}}},
    {$sort: {avg_rating: -1}}
])
```

### Example 17

For each cast, sum the number of awards won by the movies they participated in. Obtain just the 15 people with more prizes.

```
db.movies.aggregate([
    {$unwind: "$cast"},
    {$group: {_id: "$cast", total_awards: {$sum: "$awards.wins"}}},
    {$sort: {total_awards: -1}},
    {$limit: 15}
])
```

### Example 18

Find all the genres present in the movies collections.

```
db.movies.aggregate([
    {$unwind: "$genres"},
    {$group: {_id: "$genres"}}
])
```

- MongoDB also has the function `distinct`:
```
db.collection.distinct("field_name")
```

# [Indexes](https://www.postgresql.org/docs/9.1/indexes.html)

- In lab2 we experienced some quite frustrating slow queries, right? 


- But why? Why the queries were so slow?

<img src="imgs/table_line_by_line.PNG">

- Note that to evaluate the query, the DBMS inspects each and every row, so if your table is too long, it might take a while;


- Specially because not all the data fits into memory. So, the DBMS needs to read from disk.


- Disks are much slower than the computer's RAM. Reading from disk is the main cost of database queries;


- We need strategies to avoid reading irrelevant rows - **indexes to the rescue!!!**

### B-Tree Indexes
<img src="imgs/indexed_table.PNG">

<img src="imgs/indexed_query_example.PNG">

- There are other types of indexes as well (e.g., hash indexes) that can be helpful in some situations, but b-trees indexes are quite effective in many (most?) situations;


- Once you create an index, Postgres will automatically use the index if it considers to be an efficient way to evaluate your query;


- You might need to run `ANALYZE` to udpate the statistics that postgres will use to evaluate the best way to run your query;


- The effectiveness of an index is dependent on the query, in other words, an index is good for certain types of queries only;

### Let's see some examples
 - Take the numbers here with a grain of salt as the execution times has a fair bit of variation;

### Example 1 

Consider the following query:

```sql
SELECT *
    FROM titles_basics
    WHERE start_year = 2009;
```

### Example 1 - Execution time


#### Without index: 919.571 ms
#### With index on (`start_year`): 427.167 ms

### Example 2 

Consider the following query:

```sql
SELECT *
    FROM titles_basics
    WHERE start_year = 2009
        AND runtime BETWEEN 90 AND 120;
```

### Example 2 - Execution time


#### Without index: 779.612 ms
#### Index on (`start_year`): 368.922 ms
#### Index on (`runtime`, `year`): 30.400 ms
#### Index on (`start_year`, `runtime`): 9.713 ms

### Example 3

Consider the following query:

```sql
SELECT *
    FROM titles_basics
    WHERE start_year = 2009
        AND runtime BETWEEN 90 AND 120
        AND format = 'movie';
```

### Example 3 - Execution time


#### Without index: 801.543 ms
#### Index on (`format`): 739.612 ms
#### Index on (`runtime`): 563.464 ms
#### Index on (`start_year`): 351.425 ms
#### Index on (`start_year`, `format`, `runtime`): 4.898 ms

### Creating indexes in Postgres

- Postgres uses btree indexes by default;


- To create an index use the following syntax:
```
CREATE INDEX index_name ON table_name(column1_name, column2_name);
```

### Examples 

```
CREATE INDEX format_index ON titles_basics(format);

CREATE INDEX year_index ON titles_basics(start_year);

CREATE INDEX year_runtime_index ON titles_basics(start_year, runtime);

CREATE INDEX triple_columns_index ON titles_basics(start_year, format, runtime);
```

- After creating an index, you might want to run ```ANALYZE table_name;```
to update the statistics that postgres use to decide the query's execution plan;



- If you run `ANALYZE` with no argument, the statistics of all tables will be updated;


- While indexes (may?) makes for faster read access, it makes writing (e.g., inserts and updates) slower because the DBMS needs to manage the indexes;


- Postgres automatically creates an index on Primary Keys.

 I highly recommend watching this video:
https://www.youtube.com/watch?v=HubezKbFL7E

It is a great introductory talk about indexes and its pitfalls